.review_container {
  width: 80%;
  margin: 0 auto;
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
      color: #fff;
      font-size: 2rem;
      font-family: Roboto;
      margin-bottom: 7px;
      margin-top: 15px;
    }

    input {
      margin-bottom: 15px;
    }

    .ratings_container {
      display: flex;
      margin-bottom: 15px;

      i {
        margin: 0 1%;
        cursor: pointer;
        color: rgb(216, 216, 216);
      }

      .selected {
        background: -webkit-linear-gradient(
          rgb(255, 233, 108),
          rgb(245, 204, 0)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .btn {
      background-color: $color-button;
      color: $color-font;
      border: none;
      font-size: 1.6rem;
      padding: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }
}
