@import 'variables.scss';

.bookCard_container {
  display: flex;
  justify-content: space-between;
  max-width: 80rem;
  margin: 0 auto;
  font-family: $font-primary;
  margin-bottom: 5rem;
  text-align: left;
  margin-bottom: 5rem;

  h1,
  h2,
  p {
    color: $color-font;
  }

  h1 {
    font-size: 3rem;
  }
  h2,
  p {
    font-size: 2rem;
  }

  .book_img_container {
    width: 10rem;
    img {
      width: 100%;
    }
  }
}
